﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contacts</title>
</head>
<body>
    @Scripts.Render("~/Scripts/Contact.js")
    @Scripts.Render("~/Scripts/jquery.validate.js")
    @Styles.Render("~/Content/formValidation.css")
    <div class="container-fluid">
        <div id="general_info">
            <div>
                <h3 class="mark">О нас:</h3>
                <p>
                    ООО «Мансарды Столицы» зарегистрировано Минским горисполкомом «25» ноября 2014г. в едином государственном регистре юридических лиц и индивидуальных предпринимателей с регистрационным номером 192382932.
                    Направление деятельности - строительство мансардных надстроек над жилыми домами. Руководствуясь положениями Указа № 657 от 18.12.2007г. «О некоторых вопросах реконструкции жилых домов» предприятие последовательно занимается вопросами реализации программы мансардного строительства в г. Минске. ООО «Мансарды Столицы» имеет аттестат соответствия № 0001623-ИН категории третьей на право осуществления: «Выполнение функций заказчика, застройщика, оказание инженерных услуг при осуществлении деятельности в области строительства объектов первого-четвертого классов сложности: выполнение функций заказчика, застройщика, оказание отдельных видов инженерных услуг в строительстве» выданный Министерством архитектуры и строительства Республики Беларусь.

                    Генеральным подрядчиком в строительстве мансардных надстроек выступает ЧСУП «БелоирСтрой». Данная организация имеет опыт такого рода строительство и работает только с ООО «Мансарды Столицы», что позволяет направлять все строительные ресурсы только на объекты предприятия. ЧСУП «БелоирСтрой» имеет аттестат 3-го класса сложности как генподрядчик, а также все необходимые виды сертификатов на общестроительные работы.
                </p>
            </div>
            <h3 class="mark">Наши конакты</h3>
            <table name="Object-charactericstics" class="table table-striped">
                <tbody>
                    <tr>
                        <td>Адрес:</td>
                        <td>г.Минск, Проспект победителей 11, офис 1211</td>
                    </tr>
                    <tr>
                        <td>Телефон:</td>
                        <td>+37529 329 05 09</td>
                    </tr>
                <tr>
                    <td>Почтовый адрес:</td>
                    <td>mansardam@mail.ru</td>
                </tr>
            </table>
        </div>

        <div class="panel" id="map_slider">
            <p><b style="font-size: 20px">Показать на карте</b>
                <a href="#" data-target="#map_container" data-toggle="collapse">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </p>
            <div id="map_container" class="collapse">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1661.8918502154918!2d27.54702300897587!3d53.909177982607034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcf92c66a2cc9%3A0x8c1ea0c9b2374d08!2spraspiekt+Pieramo%C5%BEca%C5%AD+11%2C+Minsk!5e0!3m2!1sen!2sby!4v1496303709446" width="600" height="450" frameborder="0" style="border: 0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="panel" id="form_expand">
            <p>
                <b style="font-size:20px">Оставить заявку</b>
                <a href="#" data-target="#form_container" data-toggle="collapse">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </p>
            <div id="form_container" class="collapse">
                <form class="form-horizontal" id="purchaseForm">
                    <div class="form-group required">
                        <label class="control-label col-sm-2" for="purchaserName">Ваше Имя:</label>
                        <div class="col-sm-10">
                            <input type="text" name="purchaserName" class="form-control" id="purchaserName" placeholder="Введите Имя">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="emailAddress">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" name="emailAddress" class="form-control" id="emailAddress" placeholder="Введите Email">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label col-sm-2" for="phone">Телефон:</label>
                        <div class="col-sm-10">
                            <input type="number" name="phone" class="form-control" id="phone" placeholder="Введите номер телефона">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="comment">Комментарий:</label>
                        <div class="col-sm-10">
                            <textarea rows="5" class="form-control" name="comment" id="comment" placeholder="Введите комментарий"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" value="Отправить" class="btn btn-default">Отправить</button>
                        </div>
                    </div>

                    <div class="alert alert-success hidden" id="successAlert" onclick=" closeAlert() ">
                        <a href="#" class="close" data-hide="alert" aria-label="close">&times;</a>
                        <strong>Ваш запрос был обработан. В ближайшее время мы свяжемся с Вами</strong>
                    </div>
                    <div class="alert alert-danger hidden" id="errorAllert">
                        <a href="#" class="close" data-hide="alert" aria-label="close">&times;</a>
                        <strong>Произошёл сбой на сервере. Запрос не был обработан!</strong>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
