﻿@{
    ViewBag.Title = "";
}

<head>
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/Index.css")
    @Styles.Render("~/Content/NavigationBar.css")
</head>

<div class="container-fluid">
    <img src="~/Images/WeBuildYourDreams.png" alt="image is not available" class="img-responsive"/>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>ул.Я.Мавра 33</h2>
            <p>
                Реконструкция жилого дома № 33 по ул. Я.Мавра с надстройкой мансардного этажа
            </p>
            <p><a class="btn btn-default" href="/Buildings/Mavra33">Подробнее &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>ул.Я.Мавра 29</h2>
            <p>Реконструкция жилого дома № 29 по ул. Я.Мавра с надстройкой мансардного этажа</p>
            <p><a class="btn btn-default" href="/Buildings/Mavra29">Подробнее &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>ул.Я.Мавра 31</h2>
            <p>Реконструкция жилого дома № 31 по ул. Я.Мавра с надстройкой мансардного этажа</p>
            <p><a class="btn btn-default" href="/Buildings/Mavra31">Подробнее &raquo;</a>
            </p>
        </div>
    </div>
</div>