﻿@using System.Web.UI.WebControls
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Мавра 33</title>
    <title>Mavra29</title>  
</head>

<body>
    @Scripts.Render("~/Scripts/ekko-lightbox.js")
    @Styles.Render("~/Content/ekko-lightbox.css")
<div class="container-fluid" id="collapse_container">
    <div class="container-fluid" name="Generel-moments">
        <h2 class="bg-info">Реконструкция жилого дома №33  ул.Я.Мавра с надстройкой мансардного этажа</h2>
    </div>
    <button data-target="#Project-Dsc" class="btn btn-default" data-toggle="collapse" onclick=" collapseButtonsContent() ">Описание проекта</button>
    <button data-target="#Project-actions" class="btn btn-default" data-toggle="collapse" onclick=" collapseButtonsContent() ">Организационно-технологические Мероприятия</button>
    <button data-target="#Costs" class="btn btn-default" data-toggle="collapse" onclick=" collapseButtonsContent() ">Планировки и цены</button>
    <button data-target="#NowOnObject" class="btn btn-default" data-toggle="collapse" onclick=" collapseButtonsContent() ">Сейчас на объекте</button>
    <div class="collapse in" id="Project-Dsc">
    <div class="container-fluid" name="Generel-moments">
        <h3 class="mark">Общие Положения</h3>
        <p>
            Реконструируемый жилой дом по адресу ул. Я. Мавра, 33 расположен на границе территории квартала сложившейся жилой застройки, ограниченной ул. Я. Мавра, Одоевского, Пономаренко, просп. Пушкина. Жилой дом главным фасадом расположен вдоль улицы Я. Мавра. Рядом расположены 9- и 5-этажные типовые жилые дома массовой застройки периода конца 1960-х - начала 1970-х гг. Так же здание имеет пристроенный одноэтажный объем, в котором располагается магазин. Год постройки -1972.
            <br>Рельеф местности пологий, рельеф с продольными уклонами. Прилегающая территория благоустроена и озеленена, площадки и проезды имеют плиточное и асфальтобетонное покрытие.
        </p>
    </div>
    <div class="container-fluid" name="object-charachteristics">
        <h3 class="mark">Характеристика Объекта</h3>
        <p>Здание панельное, 5-ти этажное, 6-ти секционное, серии 1 -464 А-74, прямоугольное в плане, размерами 92,0X11,82 м, с подвалом.</p>
        <table name="Object-charactericstics" class="table table-striped">
            <thead>
            <tr>
                <th>Компонент</th>
                <th>Материал</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Наружные стены</td>
                <td>Панельные</td>
            </tr>
            <tr>
                <td>Плиты перекрытия</td>
                <td>Плоские сборные ж/б с опиранием по контуру, размером на комнату</td>
            </tr>
            <tr>
                <td>Плиты покрытия</td>
                <td>Двойные аглопоритобетонные, ребристые, с теплоизоляционным слоем из минераловатных плит</td>
            </tr>
            <tr>
                <td>Кровля</td>
                <td>Рулонная вентилируемая</td>
            </tr>
            <tr>
                <td>Входы</td>
                <td>Консольные ж/б козырьки</td>
            </tr>
            <tr>
                <td>Окна</td>
                <td>Деревянные, с двойным остеклением</td>
            </tr>
        </table>
        <h3 class="mark">Конструктивное Решение Мансарды</h3>
        <table name="Object-charactericstics" class="table table-striped">
            <thead>
            <tr>
                <th>Компонент</th>
                <th>Материал</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Наружные стены</td>
                <td>Из блоков ячеистого бетона толщ. 300 мм с утеплителем из мин. плиты</td>
            </tr>
            <tr>
                <td>Внутренние стены</td>
                <td>Кирпичная кладка (лестничная клетка); из блоков ячеистого бетона (межквартирные)</td>
            </tr>
            <tr>
                <td>Перегородки</td>
                <td>Из ГКЛ в 2 слоя на металлическом каркасе с утеплителем из минераловатных плит;</td>
            </tr>
            <tr>
                <td>Кровля</td>
                <td>ИзМансардная, с покрытием из металлочерепицы</td>
            </tr>
            <tr>
                <td>Мансардные окна, двери балконов</td>
                <td>
                    Деревянные с двухкамерным стеклопакетом; двери французских балконов – ПВХ-профиль с двухкамерным стеклопакетом
                </td>
            </tr>
            </tbody>
        </table>
        <p>
            <strong>Проектом предусмотрены следующие работы:</strong><br/>
            - демонтажные работы<br/>
            - работы по надстройке мансарды;<br/>
            - устройство балконов на 1 этаже, под расположенными на 2 этаже существующими; <br/>
            - прокладка инженерных сетей на мансардный этаж.<br/>
        </p>
    </div>
    <div class="container-fluid" name="mansard-principles">
        <h3 class="mark">Устройство Мансардного Этажа</h3>
        <p>
            Технологическая последовательность устройства мансарды должна быть такой, чтобы предыдущая операция не являлась источником производственной
            опасности при выполнении последующих. Работы по устройству монолитного пояса мансардного этажа выполняются в соответствии с требованиями проекта
            и ТКП 45-5.03-131-2009. Опалубка - мелкощитовая инвентарная. Подача бетонной смеси на отметку монолитного пояса производится с использованием
            строительного подъемника. Распалубка выполняется по достижению бетоном проектной прочности. Работы выполняются в соответствии с ТТК-100029434.1761-2010
            Типовая технологическая карта на устройство монолитных балок, поясов в опалубке импортного производства или типа "Модостр".
        </p>
        <p>
            Кладка наружных и внутренних стен производится в соответствии с указаниями проекта и требованиями ТКП 45-5.02-82-2010, а также ТТК-100029434.296-2014
            Типовая технологическая карта на устройство наружных навесных стен из ячеистобетонных блоков. Работы выполняются с применением инвентарных подмостей.
        </p>
        <p>
            Установка элементов стропильной системы мансарды производится в соответствии с указаниями проекта, требованиями ТКП 45-5.05-64-2007 и типовой технологической
            карты ТТК 125-2014 «Монтаж деревянных конструкций».
            Стальные изделия, применяемые для сборки и крепления конструкций, имеют предварительную защиту от коррозии по всей поверхности.
            Кровельные работы производятся в соответствии с указаниями проекта, требованиями ТКП 45-5.08-277-2013, а также типовой технологической карты ТТК-100029434.327-2014.
        </p>
        <p>
            Водосточные трубы и лотки навешиваются в последнюю очередь с автогидроподъемников.
            Прокладка инженерных систем – ОВ, ВИК, ЭС, СС производится в соответствии с указаниями проекта и ТКП 45-1.03-85-2007.
        </p>
    </div>

    <div class="container-fluid" name="place-charachteristics">
        <h3 class="mark">Характеристика Площадки и Условий Производства Работ</h3>
        <p>
            В качестве подъездных путей используются существующие автодороги и внутридворовые проезды. Перемещение грузов на объект осуществляется автомобильным транспортом по существующим дорогам. Въезды на строительную площадку предусматриваются со стороны ул. Я. Мавра.<br/>
        </p>
        <p>
            Временные бытовые помещения предусматриваются контейнерного типа.<br/>
            Установка административно-бытовых, складских зданий и сооружений, организация открытых площадок складирования конструкций и материалов, производится на дворовой территории, вне опасных зон производства работ, с соблюдением пожарных и санитарно-гигиенических норм и охранных зон инженерных коммуникаций:<br/>
            - газопровод низкого давления - 2,0 м;<br/>
            - э/кабель - 2.0 м;<br/>
            - водопровод и канализация — 2,0 м.<br/>
            - Временное водоснабжение предусмотрено от колодца существующей сети водопровода.
        </p>
        <p>
            Временное электроснабжение предусматривается от ВРУ жилого дома.
            Временное теплоснабжение бытовых помещений предусмотрено от инвентарных электронагревателей заводского изготовления.
        </p>
        <p>
            Для отвода дождевых вод и условно-чистых производственных вод предусмотрены открытые водостоки.
        </p>
    </div>
    <div class="container-fluid" name="rationale">
        <h3 class="mark">Обоснование Продолжительности Cтроительства</h3>
        <p>
            Ввиду неполного соответствия состава работ перечню работ в приложениях А - В ТКП 45-1.04-206-2010, таблицам приложений А-Б ТКП 180-2009, продолжительность работ определена в соответствии с п. 4.22 ТКП 45-1.03-122-2015 по объекту-аналогу («Реконструкция жилого дома N 25 по ул. Я. Мавра с надстройкой мансардного этажа в г. Минске»,
            раздел 10060-ПОС, проект ОАО «Минскремстрой» Проектно-технический филиал, г. Минск) равной 7,5 мес. (базовое значение) с учетом факторов, усложняющих производство работ, и увеличивающих продолжительность их выполнения. Усложняющими факторами являются: отсутствие сквозного проезда на площадке, ограничение зоны подъема грузов, отсутствие возможности переустановки
            строительного подъемника, необходимость устройства промежуточных площадок складирования на кровле при ограничении максимальной нагрузки на кровлю, необходимость дополнительного перемещения грузов от места разгрузки в связи со стесненными условиями складирования и запретом применения тяжелой грузоподъемной техники (К=1,3).
        </p>
        <p>
            Учет указанных факторов выполнен с применением коэффициентов:<br/>
            - отсутствие сквозного проезда на площадке (К=1,1);<br/>
            - ограничение зоны подъема грузов, отсутствие возможности переустановки строительного подъемника (К=1,1);<br/>
            - необходимость устройства промежуточных площадок складирования на кровле при ограничении максимальной нагрузки на кровлю (К=1,1);<br/>
            - необходимость дополнительного перемещения грузов от места разгрузки в связи со стесненными условиями складирования и запретом применения тяжелой грузоподъемной техники (К=1,3).<br/>
        </p>
        <p>С учетом указанных коэффициентов нормативная продолжительность производства работ составит: Т0= 7,5∙1,1∙1,1∙1,1∙1,3=12,9≈13,0 мес, в том числе подготовительный период 1,5 мес. Начало работ – ноябрь 2016 г.</p>
    </div>
</div>
<div id="Project-actions" class="collapse">
    <div class="container-fluid" name="general-notes">
        <h3 class="mark">Общие Положения</h3>
        <p>
            В связи с производством работ в эксплуатируемом здании, перед началом производства работ заказчик и генеральный
            подрядчик с участием субподрядчиков и администрации здания (ЖЭС, товарищество собственников) оформят акт-допуск
            по форме, приведенной в приложении А ТКП 45-1.03-40-2006. Ответственность за выполнение мероприятий,
            предусмотренных актом-допуском, несут руководители строительных организаций и администрации.<br/>
            Все строительно-монтажные работы, организация строительной площадки, участков работ и рабочих мест производятся при строгом соблюдении требований ППБ 01-2014.
        </p>
        <p>
            Совместно разрабатываются заказчиком и подрядчиком мероприятия по обеспечению пожарной безопасности.
            Для обеспечения безопасной работы пристроенного магазина по периметру наружной стены со стороны магазина будут выставлены защитные ограждения по ГОСТ 12.4.059-89
            или СТБ EN 13374-2013, устраняющие распространение опасной зоны на магазин. При отсутствии защитных ограждений работы по установке стропильной системы мансарды и
            кровли в осях 26-38 будут производиться в нерабочее время примыкающего магазина, график производства работ будет согласован с администрацией магазина.
            Работы производятся по захваткам преимущественно комплексным методом с полным завершением работ на захватке. Размер захватки – в пределах подъезда.
        </p>
    </div>
    <div class="container-fluid" name="preaprations-period">
        <h3 class="mark">Подготовительный Период</h3>
        <p>
            Работы по реконструкции предусмотрено вести в два периода: подготовительный и основной.
        </p>
        <p>
            Во время подготовительного периода предусматривается выполнить:<br/>
            - прокладку временной сети электроснабжения; рабочие места и подходы к ним должны быть освещены (временное освещение выполняется электрическими лампами с защитными кожухами, подключенными проводами, кабелями с двойной изоляцией);<br/>
            - обустройство бытовых помещений;<br/>
            - подготовку открытых складских площадок;<br/>
            - доставку на объект требуемых механизмов, оборудования, инструментов и приспособлений;<br/>
            - выполнение необходимых мероприятий по технике безопасности<br/>
        </p>
        <p>
            По окончании работ подготовительного периода составляют акт о соответствии выполненных внеплощадочных и внутриплощадочных подготовительных работ требованиям безопасности труда и готовности объекта к началу ремонта по форме Приложения А ТКП 45-1.03-161-2009*.
        </p>
    </div>
    <div class="container-fluid" name="constructions-disassembly">
        <h3 class="mark">Разборка Конструкций</h3>
        <p>
        Демонтажные работы производятся в последовательности, обратной сборке элементов.
        Материалы от разборки удаляются, а для устройства подавать при помощи строительного подъемника типа ТП-2, консольного крана типа К-1.
        Участок под краном типа К-1 огораживается защитно-охранным ограждением на ширину опасной зоны.
        <p>
        <p>
            Для защиты от атмосферных осадков верхнего эксплуатируемого этажа здания разборку кровли, плит покрытия над лестничной клеткой выполняют после строительства мансарды с устройством кровельного покрытия в пределах участка (захватки). Работы при устройстве
            отверстий и проемов выполняются режущими инструментами с предварительным подведением под разбираемый участок защитного настила с опиранием на разгружающие балки и стойки, не допуская непреднамеренного обрушения на существующие перекрытия. В качестве разгружающей
            конструкции допускается использовать элементы инвентарной опалубки типа «Модостр».
            <p/>
            <p>
                Демонтаж плит в зоне лестничных клеток производится с разделением на отдельные элементы массой до 50 кг. Удаление строительного мусора производится вручную.
            </p>
            <p>
                Проход жильцов допускается только за пределами опасных зон, а вблизи зон (участков) выполнения работ производится с прекращением производства демонтажных работ на время прохода людей.
                Разборку отдельных участков кровли выполняется в сухую погоду с одновременным
                обеспечением в течение рабочего дня защиты от атмосферных осадков верхних этажей укрытием тканевыми гидроизоляционными материалами.
            </p>
        </p>
    </div>
</div>
<div id="Costs" class="collapse container-fluid">
    <table class="table-responsive table-bordered">
        <thead>
            <tr>
                <h3 class="mark">Планировка:</h3>
            </tr>
        </thead>
        <tr class="row">
            <td class="album">
                <a href="~/Images/Front_Zoom.png" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
                    <img src="~/Images/Front.png" class="img-fluid" />
                </a>
            </td>
            <td>
                <a href="~/Images/Front_schema_details.png" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
                    <img src="~/Images/Front_schema.png" class="img-fluid" />
                </a>
            </td>
            <td>
                <a href="~/Images/first_entry_details.png" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
                    <img src="~/Images/first_entry.png" class="img-fluid" />
                </a>
            </td>
            <td>
                <a href="~/Images/second_entry_details.png" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
                    <img src="~/Images/second_entry.png" class="img-fluid" />
                </a>
            </td>
        </tr>
        <tr class="row">
            <td>
                <a href="~/Images/third_entry_details.png" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
                    <img src="~/Images/third_entry.png" class="img-fluid" />
                </a>
            </td>
            <td>
                <a href="~/Images/fourth_entry_details.png" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
                    <img src="~/Images/fourth_entry.png" class="img-fluid" />
                </a>
            </td>
            <td>
                <a href="~/Images/fifth_entry_details.png" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
                    <img src="~/Images/fifth_entry.png" class="img-fluid" />
                </a>
            </td>
            <td>
                <a href="~/Images/sixth_entry_details.png" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
                    <img src="~/Images/sixth_entry.png" class="img-fluid" />
                </a>
            </td>
        </tr>
    </table>
    <div class="container-fluid" name="costs" style = "display:none">
        <h3 class="mark">Цены:</h3>
        <table id="costs-table" class="table table-responsive table-bordered">
            <thead>
            <tr>
                <th>Метраж квартиры (м.кв)</th>
                <th>Цена за м.кв (долл. США)</th>
                <th>Стоимость (долл. США)</th>
            </tr>
            </thead>
            <tbody>
            <tr 
                <td>27.7</td>
                <td>1.100</td>
                <td>30.470</td>
            </tr>
            <tr>
                <td>40.2 / 41.3 / 45.3</td>
                <td>920</td>
                <td>36.984 / 37.996 / 41.676</td>
            </tr>
            <tr>
                <td>53.8 / 56.3</td>
                <td>800</td>
                <td>43.040 / 45.040</td>
            </tr>
            <tr>
                <td>58.6</td>
                <td>900</td>
                <td>52.740</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container-fluid">
        <h3 class="mark">Условия оплаты:</h3>
        <div class="list-group">
            <li class="list-group-item">Беспроцентная рассрочка до конца строительства</li>
            <li class="list-group-item">Цена в долл. фиксируется</li>
            <li class="list-group-item">Оплата по курсу НБ РБ на день платежа</li>
            <li class="list-group-item">Предусмотрена система скидок</li>
        </div>
    </div>
</div>
<div id="NowOnObject" class="collapse">
    <div class="container-fluid" style="margin-top: 4px">
        <h3 class="mark">
            Текущее состояние:
        </h3>
        <p>
            Выполнено устройство монолитных поясов, идет монтаж стропильной системы, выполняется установка мансардных окон.
        </p>
        <table class="table-responsive table-bordered">
            <thead>
            <tr>
                <h3 class="mark">Фотографии с объекта:</h3>
            </tr>
            </thead>
            <tr class="row">
                <td class="album">
                    <a class="album col-sm-3" href="~/Images/NowOnObject/Mavra33Now_1.png" data-toggle="lightbox" data-gallery="Now-gallery"/>
                    <img src="~/Images/NowOnObject/Mavra33Now_1_Preview.jpg" class="album"/>
                </td>
                <td>
                    <a class="album col-sm-3" href="~/Images/NowOnObject/Mavra33Now_2.jpg" data-toggle="lightbox" data-gallery="Now-gallery"/>
                    <img src="~/Images/NowOnObject/Mavra33Now_2_Preview.jpg" class="album"/>
                </td>
                <td>
                    <a class="album col-sm-3" href="~/Images/NowOnObject/Mavra33Now_3.png" data-toggle="lightbox" data-gallery="Now-gallery"/>
                    <img src="~/Images/NowOnObject/Mavra33Now_3_Preview.jpg" class="album"/>
                </td>
                <td>
                    <a class="album col-sm-3" href="~/Images/NowOnObject/Mavra33Now_4.jpg" data-toggle="lightbox" data-gallery="Now-gallery"/>
                    <img src="~/Images/NowOnObject/Mavra33Now_4_Preview.jpg" class="album"/>
                </td>
                <td>
                    <a class="album col-sm-3" href="~/Images/NowOnObject/Mavra33Now_5.png" data-toggle="lightbox" data-gallery="Now-gallery"/>
                    <img src="~/Images/NowOnObject/Mavra33Now_5_Preview.jpg" class="album"/>
                </td>
            </tr>
            <tr class="row">
                <td>
                    <a class="album col-sm-3" href="~/Images/NowOnObject/Mavra33Now_6.jpg" data-toggle="lightbox" data-gallery="Now-gallery"/>
                    <img src="~/Images/NowOnObject/Mavra33Now_6_Preview.jpg" class="album"/>
                </td>
                <td>
                    <a class="album col-sm-3" href="~/Images/NowOnObject/Mavra33Now_7.jpg" data-toggle="lightbox" data-gallery="Now-gallery"/>
                    <img src="~/Images/NowOnObject/Mavra33Now_7_Preview.jpg" class="album"/>
                </td>
                <td>
                    <a class="album col-sm-3" href="~/Images/NowOnObject/Mavra33Now_8.jpg" data-toggle="lightbox" data-gallery="Now-gallery"/>
                    <img src="~/Images/NowOnObject/Mavra33Now_8_Preview.jpg" class="album"/>
                </td>
                <td>
                    <a class="album col-sm-3" href="~/Images/NowOnObject/Mavra33Now_9.jpg" data-toggle="lightbox" data-gallery="Now-gallery"/>
                    <img src="~/Images/NowOnObject/Mavra33Now_9_Preview.jpg" class="album"/>
                </td>
                <td>
                    <a class="album col-sm-3" href="~/Images/NowOnObject/Mavra33Now_10.jpg" data-toggle="lightbox" data-gallery="Now-gallery"/>
                    <img src="~/Images/NowOnObject/Mavra33Now_10._Preview.jpg" class="album"/>
                </td>
            </tr>
        </table>
    </div>
</div>
</div>
</body>
</html>
