﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mavra29</title>
</head>

<body>
    <div class="container-fluid">
        <h2 class="bg-info">Реконструкция жилого дома №31  ул.Я.Мавра с надстройкой мансардного этажа</h2>
        <p>На стадии поектирования</p>
    </div>
</body>
</html>

