﻿.imageContainer {
    position:fixed;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.imageContainer > img {
    position:absolute;
    top:50%;
    min-height:100%;
    display:block;
    left:50%;
}
