﻿a[name="header-link"] {
    color:#FFFFFF
}

.navbar-default .navbar-brand {
  color: white;
  font-size:x-large
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}