﻿body {
    padding-top: 70px;
    padding-bottom: 150px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


/*Specify the links in navigation bar*/
.navbar-nav > li > a {
    font-size:x-large;
}


/*Navigation Bar*/
.navbar-default{
    display:flex;
    background-color:#212121;
    justify-content:center;
    align-items:center;
}

.navbar-collapse > ul {
    vertical-align: middle;
    align-items:center;
}

.navbar-custom {
    display:flex;
    align-items:center;
    vertical-align:middle;
}

.myNav {
    display:inline-block;
    vertical-align:middle;
}

.alert {
    display:inline-block;
}

td.album {
    border-color: black;
}

a.album {
    padding-left: 0;
    padding-right: 3px;
    padding-bottom: 3px;
    display: block;
    height:auto
}

tr.albumrow {
    
}

img.album {
    width: auto;
    height: auto
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*div.container-wrapper{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top:50px;
}*/